<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
 <header class="header" >
    <nav class="navbar navbar-expand-lg bg-primary" >
        <div class="container-fluid" style="margin-left: 8rem;">
            <a href="https://www.freepnglogos.com/pics/car-logo-png" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/cleveland-auto-show-car-logo-png-25.png" width="200" alt="cleveland auto show car logo png" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 " style="margin-right:8rem ;font-size: 2rem; ">
              <li class="nav-item">
                <a class="nav-link  " aria-current="page" href="http://localhost:8000/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  " aria-current="page" href="#myAbout">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#myService">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  " aria-current="page" href="#myContact">Contact</a>
              </li>
              
             
           
            </ul>
           
          </div>
        </div>
      </nav>
 </header>
 <div class="main-content container-md">


    <div class="car-content" >

      <h3 style="font-size: 5rem; text-transform: capitalize;" >Welcome </h3>
      <h3 style="font-size: 3rem; text-transform: capitalize;"  class="text-primary-emphasis">Best cars for very less price</h3>
    
      <p style="font-size: 1.2rem; font-weight: 200; padding-top: 2rem ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, aperiam, pariatur sed obcaecati provident facere repudiandae iusto nisi</p>
      <button type="button" class="btn btn-info" style="font-size: 1.5rem;color: #fff;">Buy Now</button>
    </div>
    <div class="car-photo">

    <div id="carouselExampleCaptions" class="carousel slide mycar">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
           
            <img src="images/car3.jpg" class="d-block w-100" alt="...">
            <div class="content-carousel"> <h1>Maruti FRONX</h1>
                <p style="font-size: 1.5rem;text-transform: capitalize;">price:9.2lakh</p>
            </div> 
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/car2.jpg" class="d-block w-100" alt="...">
          <div class="content-carousel"> <h1>Tata NAXON</h1>
            <p style="font-size: 1.5rem; text-transform: capitalize;">price:7.7lakh</p>
        </div> 
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/car1.jpg" class="d-block w-100" alt="...">
            <div class="content-carousel"> <h1>Mahindra THAR</h1>
                <p style="font-size: 1.5rem; text-transform: capitalize;">price:10.54lakh</p>
            </div>
            <div class="carousel-caption d-none d-md-block">
                
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
 </div>
</div>

<div class="about container-md" style="margin-top: 15rem;" id="myAbout">


<h1 style="text-align: center;font-size:3rem ;" class="text-primary-emphasis">About us</h1>

 <div class="main-crasuresl-effect" style="margin: 10rem;">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active my-car">
     <a href="#https://www.freepnglogos.com/pics/fortuner" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/fortuner-png/toyota-fortuner-suv-reviews-and-features-vivid-car-22.png" width="800" alt="toyota fortuner suv reviews and features vivid car" /></a>
    </div>
    <div class="carousel-item my-car">
      <a href="#https://www.freepnglogos.com/pics/lamborghini" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/lamborghini-png/lamborghini-huracan-reviews-huracan-prices-1.png" width="800" alt="lamborghini huracan reviews huracan prices" /></a>
    </div>
    <div class="carousel-item my-car">
     <a href="#https://www.freepnglogos.com/pics/fortuner" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/fortuner-png/fortuner-top-upper-suvs-caradvice-25.png" width="800" alt="fortuner, top upper suvs caradvice" /></a>
    </div>
     <div class="carousel-item my-car">
  <a href="#https://www.freepnglogos.com/pics/fortuner" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/fortuner-png/fortuner-crusade-automatic-northpoint-toyota-1.png" width="800" alt="fortuner crusade automatic northpoint toyota" /></a>
    </div>
  </div>
</div>
</div>


<div class="main-about" style="margin-top: 10rem;">


<div class="main-content">
    <div class="car-photo">

        <div id="carouselExampleCaptionss" class="carousel slide mycar">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
               
                <img src="images/car4.jpg" class="d-block w-100" alt="...">
                <div class="content-carousel"> <h1>Maruti Brezza</h1>
                    <p style="font-size: 1.5rem;text-transform: capitalize;">price:11.6lakh</p>
                </div> 
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/car6.jpg" class="d-block w-100" alt="...">
              <div class="content-carousel"> <h1>Toyato Fortuner</h1>
                <p style="font-size: 1.5rem; text-transform: capitalize;">price:32.67lakh</p>
            </div> 
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/car5.jpg" class="d-block w-100" alt="...">
                <div class="content-carousel"> <h1>Hyundai CREATA</h1>
                    <p style="font-size: 1.5rem; text-transform: capitalize;">price:9.64lakh</p>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionss" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionss" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
     </div>

    <div class="car-content" >

      <h3 style="font-size: 5rem; text-transform: capitalize;" >Popular </h3>
      <h3 style="font-size: 3rem; text-transform: capitalize;"  class="text-primary-emphasis">New cars in india </h3>
    
      <p style="font-size: 1.2rem; font-weight: 200; padding-top: 2rem ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, aperiam, pariatur sed obcaecati provident facere repudiandae iusto nisi</p>
      <button type="button" class="btn btn-info" style="font-size: 1.5rem;color: #fff;">Buy Now</button>
    </div>
    
</div>





</div>

</div>

<div class="services" style="margin-top: 5rem;" id="myService">
    <h1 style="text-align: center;font-size:3rem ;" class="text-primary-emphasis">Services</h1>
    <div class="grid-main-box" style="margin-top: 5rem;">
<div class="grid-box-1">
    <a href="#https://www.freepnglogos.com/pics/car-logo-png" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/mini-cooper-car-logo-brands-png-images-26.png" width="100" alt="mini cooper car logo brands png images" /></a>
    
</div>
<div class="grid-box-2">
    <a href="#https://www.freepnglogos.com/pics/car-logo-png" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/kia-car-logo-png-brand-image-33.png" width="100" alt="kia car logo png brand image" /></a>
    
</div>
<div class="grid-box-3">
    <a href="#https://www.freepnglogos.com/pics/suzuki-logo-car-brands" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/suzuki-png-logo/suzuki-logo-png-clipart-8.png" width="100" alt="suzuki logo png clipart" /></a>
    
</div>
<div class="grid-box-3">
    <a href="#https://www.freeiconspng.com/img/11321" title="Image from freeiconspng.com"><img src="https://www.freeiconspng.com/uploads/mercedes-benz-logo-png-0.png" width="100" alt="Mercedes Benz Logo Png Available In Different Size" /></a>
    
</div>
<div class="grid-box-3">
    <a href="#https://www.freepnglogos.com/pics/honda-png-logo" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/honda-logo-png/honda-motorcycle-and-scooter-india-wing-13.png" width="100" alt="honda motorcycle and scooter india wing" /></a>
    
</div>
<div class="grid-box-3">
    <a href="#https://www.freepnglogos.com/pics/nissan-logo" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/nissan-logo-23.png" width="100" alt="nissan logo" /></a>
    
</div>
<div class="grid-box-3">
    <a href="#https://www.freepnglogos.com/pics/toyota-car-logo" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/toyota-logo-png/toyota-logos-brands-10.png" width="100" alt="toyota logos brands" /></a>
    
</div>

<div class="grid-box-3">
    <a href="#https://www.freepnglogos.com/pics/hyundai-logo" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/hyundai-logo-0.png" width="100" alt="hyundai logo emblem png" /></a> 
    
</div>

    
   
   
  
   
   

    </div>



</div>

<div class="contact" id="myContact">
<div class="map" style="margin: 5rem 0rem;">
  <h1 style="text-align:center;font-size:3rem ; text-transform: capitalize;margin-bottom: 5rem;" class="text-primary-emphasis">contact us</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56337.28489165511!2d76.06997282159477!3d28.052572501386585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3912b5dccc290669%3A0xb8c594abbb4a77a3!2sNarnaul%2C%20Haryana%20123001!5e0!3m2!1sen!2sin!4v1686076007104!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<form action="/home" method="post">
  <div class="main-form" style="width:45rem;margin:5rem auto; background-color:#6710f29a;padding: 2rem; border-radius:5rem 0 0 5rem">
  <div class="mb-3">
    <label for="email" class="form-label" style="color: #fff; font-size:1.2rem">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
   
  </div>
 
  <div class="mb-3">
    <label for="username" class="form-label" style="color: #fff;font-size:1.2rem">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label" style="color: #fff;font-size:1.2rem">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone">
  </div>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="message" style="height: 10rem" name="message"></textarea>
  <label for="message">Message</label>
</div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" style="cursor: pointer;font-size:1.2rem;">
    <label class="form-check-label" for="exampleCheck1" style="color: #fff;font-size:1.2rem">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" style="font-size: 1.5rem;">Submit</button>
</div>
</form>





</div>



 <footer class="footer">
<div class="content-footer">
<div class="box-1-footer">
<h3 style="color: #fff;text-transform: capitalize;">car dekho</h3>
<p >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, necessitatibus.</p>
</div>
<div class="box-2-footer">
 <h3 style="color: #fff;text-transform: capitalize;">for subscribes any update</h3> 
 <div style="display: flex;justify-content: space-around;flex-direction: column;gap: 1rem;">
 <input type="text" style="text-decoration: none;outline: none;">
 <div><a class="btn btn-primary" href="#" role="button" style="font-size: 1.5rem;">subscribe</a></div>
</div>
</div>
<div class="box-3-footer">
  <h3>Follow me</h3>
  <a href="#https://www.freepnglogos.com/pics/instagram-icon" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/instagram-icon-png/new-instagram-logo-png-6.png" width="50" alt="new instagram logo png" /></a>
  <a href="#https://www.freepnglogos.com/pics/facebook-logo" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/facebook-logo-design-1.png" width="50" alt="f logo design png" /></a>
<a href="#https://www.freepnglogos.com/pics/youtube-logo-png" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/youtube-logo-png-hd-1.png" width="50" alt="youtube logo png hd" /></a>
</div>
<div class="box-4-footer">
  <h3>contact</h3>
  <p>867898765</p>
</div>


</div>


<br/>
<hr/>

<div class="main-footer">
 
<img src="https://www.freepnglogos.com/uploads/lamborghini-png/red-lamborghini-aventador-luxury-car-png-image-pngpix-2.png" width="100" alt="red lamborghini aventador luxury car png image pngpix" /></a>

  
   <img src="https://www.freepnglogos.com/uploads/honda-car-png/honda-car-upcoming-new-honda-cars-india-new-honda-3.png" width="100" alt="honda car upcoming new honda cars india new honda" /></a>
  
  
  <img src="https://www.freepnglogos.com/uploads/honda-car-png/honda-car-honda-civic-price-pakistan-review-full-specs-23.jpg" width="100" alt="honda car honda civic price pakistan review full specs" /></a>

  
  <img src="https://www.freepnglogos.com/uploads/mercedes-png/grey-mercedes-benz-class-coupe-car-png-image-pngpix-27.png" width="100" alt="grey mercedes benz class coupe car png image pngpix" /></a>
<img src="https://www.freepnglogos.com/uploads/mercedes-png/mercedes-benz-cls-class-reviews-cls-class-35.png" width="100" alt="mercedes benz cls class reviews cls class" /></a>
   
<img src="https://www.freepnglogos.com/uploads/mercedes-png/mercedes-benz-glc-class-reviews-and-rating-motor-trend-34.png" width="100" alt="mercedes benz glc class reviews and rating motor trend" /></a>
</div>
<hr/>
<div class="last-content" style="display: flex; justify-content:space-around ;align-items: center;">

  <div class="last-1">
@saini,2023 all rights reasearved
  </div>
  <div class="last-2">
privacy policy
  </div>
</div>



 </footer>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>