 <footer class="footer">
<div class="content-footer">
<div class="box-1-footer">
<h3 style="color: #fff;text-transform: capitalize;">car dekho</h3>
<p >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, necessitatibus.</p>
</div>
<div class="box-2-footer">
 <h3 style="color: #fff;text-transform: capitalize;">for subscribes any update</h3> 
 <div style="display: flex;justify-content: space-around;flex-direction: column;gap: 1rem;">
 <input type="text" style="text-decoration: none;outline: none;">
 <div><a class="btn btn-primary" href="#" role="button" style="font-size: 1.5rem;">subscribe</a></div>
</div>
</div>
<div class="box-3-footer">
  <h3>Follow me</h3>
  <a href="https://www.freepnglogos.com/pics/instagram-icon" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/instagram-icon-png/new-instagram-logo-png-6.png" width="50" alt="new instagram logo png" /></a>
  <a href="https://www.freepnglogos.com/pics/facebook-logo" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/facebook-logo-design-1.png" width="50" alt="f logo design png" /></a>
<a href="https://www.freepnglogos.com/pics/youtube-logo-png" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/youtube-logo-png-hd-1.png" width="50" alt="youtube logo png hd" /></a>
</div>
<div class="box-4-footer">
  <h3>contact</h3>
  <p>867898765</p>
</div>


</div>


<br/>
<hr/>

<div class="main-footer">
 <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
          <a href="https://www.freepnglogos.com/pics/lamborghini" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/lamborghini-png/red-lamborghini-aventador-luxury-car-png-image-pngpix-2.png" width="100" alt="red lamborghini aventador luxury car png image pngpix" /></a>

    </div>
    <div class="carousel-item" data-bs-interval="2000">
          <a href="https://www.freepnglogos.com/pics/honda-car" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/honda-car-png/honda-car-upcoming-new-honda-cars-india-new-honda-3.png" width="100" alt="honda car upcoming new honda cars india new honda" /></a>

    </div>
    <div class="carousel-item">
          <a href="https://www.freepnglogos.com/pics/honda-car" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/honda-car-png/honda-car-honda-civic-price-pakistan-review-full-specs-23.jpg" width="100" alt="honda car honda civic price pakistan review full specs" /></a>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <a href="https://www.freepnglogos.com/pics/lamborghini" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/lamborghini-png/red-lamborghini-aventador-luxury-car-png-image-pngpix-2.png" width="100" alt="red lamborghini aventador luxury car png image pngpix" /></a>

  
    <a href="https://www.freepnglogos.com/pics/honda-car" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/honda-car-png/honda-car-upcoming-new-honda-cars-india-new-honda-3.png" width="100" alt="honda car upcoming new honda cars india new honda" /></a>
  
  
    <a href="https://www.freepnglogos.com/pics/honda-car" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/honda-car-png/honda-car-honda-civic-price-pakistan-review-full-specs-23.jpg" width="100" alt="honda car honda civic price pakistan review full specs" /></a>

  
    <a href="https://www.freepnglogos.com/pics/mercedes" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/mercedes-png/grey-mercedes-benz-class-coupe-car-png-image-pngpix-27.png" width="100" alt="grey mercedes benz class coupe car png image pngpix" /></a>
    <a href="https://www.freepnglogos.com/pics/mercedes" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/mercedes-png/mercedes-benz-cls-class-reviews-cls-class-35.png" width="100" alt="mercedes benz cls class reviews cls class" /></a>
   
    <a href="https://www.freepnglogos.com/pics/mercedes" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/mercedes-png/mercedes-benz-glc-class-reviews-and-rating-motor-trend-34.png" width="100" alt="mercedes benz glc class reviews and rating motor trend" /></a>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
         <a href="https://www.freepnglogos.com/pics/mercedes" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/mercedes-png/mercedes-benz-cls-class-reviews-cls-class-35.png" width="100" alt="mercedes benz cls class reviews cls class" /></a>

    </div>
    <div class="carousel-item">
          <a href="https://www.freepnglogos.com/pics/mercedes" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/mercedes-png/mercedes-benz-glc-class-reviews-and-rating-motor-trend-34.png" width="100" alt="mercedes benz glc class reviews and rating motor trend" /></a>

    </div>
    <div class="carousel-item">
         <a href="https://www.freepnglogos.com/pics/mercedes" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/mercedes-png/grey-mercedes-benz-class-coupe-car-png-image-pngpix-27.png" width="100" alt="grey mercedes benz class coupe car png image pngpix" /></a>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<hr/>
<div class="last-content" style="display: flex; justify-content:space-around ;align-items: center;">

  <div class="last-1">
@saini,2023 all rights reasearved
  </div>
  <div class="last-2">
privacy policy
  </div>
</div>



 </footer>